<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table style="padding: 10px 15px; background-color: #ffffff;">
  <tr>
    <td>
      <table style="border: 0px; width: 100%;" width="100%">
        <tr>
          <td align="center">
            <table style="padding: 10px 15px;">
              <tr>
                <td style="text-align: center; color:#006277; font-weight:700; font-family:Calibri; font-size: 26px;">
                  Reset Your Password
                </td>
              </tr>
            </table>
          </td>
          <td style="width:20%;">
          </td>
        </tr>
      </table>
      <table style="width:100%;">
        <tr>
          <td align="center" style="size: 80%; border-bottom: 2px solid #0079c1"></td>
        </tr>
      </table>
      <table style="padding: 5px 15px; width:100%;">
        <tr>
          <td>
            <table style="padding: 5px 15px;">
              <tr>
                <td style="text-align: left; size: 100%; font-family: Calibri; font-size: 18px;">The
                  password for the Applicant Tracker account associated with this email address
                  needs to be reset.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table style="padding: 5px 15px; width:100%;">
        <tr>
          <td>
            <table style="padding: 5px 15px;">
              <tr>
                <td style="text-align: left; size: 100%; font-family: Calibri; font-size: 18px;">Use
                  the confirmation code <b style="font-weight: bolder;" th:text="${code}"></b> to
                  reset your
                  password.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table style="padding: 5px 15px; width:100%;">
        <tr>
          <td>
            <table style="padding: 5px 15px;">
              <tr>
                <td style="text-align: left; size: 100%; font-family: Calibri; font-size: 18px;">To
                  keep your account secure, do not forward this email to anyone.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table style="width:100%;">
        <tr>
          <td align="center" style="size: 80%; border-bottom: 2px solid #0079c1"></td>
        </tr>
      </table>
      <table style="border: 0px; width: 100%;" width="100%">
        <tr>
          <td align="center">
            <table style="border: 0px; padding: 10px 15px; border-collapse: separate;">
              <tr>
                <td align="center" bgcolor="#006277"
                    style="border-radius: 5px; color: #ffffff; text-align:center; background-color: #006277;">
                  <a th:href="${resetLink}"
                     style="display: inline-block; color: #ffffff; background-color: #006277; border: solid 2px #006277; border-radius: 5px; cursor: pointer; text-decoration: none; font-family: Calibri; font-size: 18px; font-weight: bolder; padding: 10px 20px;">Reset
                    Password</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


</body>
</html>
